<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="HelloDBConnectionString"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=HelloDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <configSections>
  </configSections>
</configuration>