<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="API_URL" value="http://localhost:57321/api/values/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57321/WebControls/HelloWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWCF"
                contract="HelloWCFService.IHelloWCF" name="BasicHttpBinding_IHelloWCF" />
        </client>
    </system.serviceModel>
</configuration>